-f https://download.pytorch.org/whl/cpu/torch_stable.html
fastapi==0.70.0
glob2==0.7
imageio==2.16.1
#git+https://github.com/dimitrivinet/libalfred

# grasping
# Base ----------------------------------------
matplotlib>=3.2.2
numpy>=1.18.5
onnxruntime
opencv-contrib-python==4.5.5.62
opencv-python>=4.1.2
# wandb

# Plotting ------------------------------------
pandas>=1.1.4
Pillow>=7.1.2
pymongo==3.12.0
pytest==7.1.0
pytest-shutil==1.7.0
python-multipart==0.0.5
python-socketio==5.4.0
PyYAML>=5.3.1
redis==3.5.3
requests==2.27.1
requests>=2.23.0
scipy>=1.4.1
seaborn>=0.11.0

# Logging -------------------------------------
tensorboard>=2.4.1

# Export --------------------------------------
# coremltools>=4.1  # CoreML export
# onnx>=1.9.0  # ONNX export
# onnx-simplifier>=0.3.6  # ONNX simplifier
# scikit-learn==0.19.2  # CoreML quantization
# tensorflow>=2.4.1  # TFLite export
# tensorflowjs>=3.9.0  # TF.js export
# openvino-dev  # OpenVINO export

# Extras --------------------------------------
# albumentations>=1.0.3
# Cython  # for pycocotools https://github.com/cocodataset/cocoapi/issues/172
# pycocotools>=2.0  # COCO mAP
# roboflow
thop  # FLOPs computation
torch==1.10.2+cpu
torchvision==0.11.3+cpu
tqdm>=4.41.0
typing==3.7.4.3
uvicorn[standard]==0.15.0
websockets==10.4
