azure-cognitiveservices-speech~=1.20.0
opencv-python-headless~=4.5.5.62
pyrealsense2~=2.50.0.3812
pyserial~=3.4
python-decouple~=3.6
redis~=4.1.2
sounddevice~=0.4.4
# git+https://github.com/dimitrivinet/libalfred
